@model IEnumerable<DependencyInjectionAndMiddleware.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Using movie list mehtod of a class by dependency injection in client class</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuntimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuntimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
        </tr>
}
    </tbody>
</table>
